/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* General */

.wpto-metaboxes .options-box {
    min-height: 32px;
    margin-bottom: 2em;
    padding: 20px 20px 0;
    border: 1px solid #bbb;
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
}
input[type=url] {
    margin: 0 0 12px;
}

/* Admin */

p.updated {
    background: #fff;
    border-left: 4px solid #7ad03a;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    margin: 5px 0 2px;
    padding: 1px 12px;
}
.field-container {
    margin-bottom: 24px;
}
.field-container label {
    display: block;
    font-weight: 700;
}
input.short {
    border-color: #e35b5b;
}
.wpto-admin-menu-items {
    margin-bottom: 32px;
    line-height: 24px;
}
.wpto-admin-menu-items h4 {
    margin-bottom: 6px;
}
.tab-content {
    width: 65%;
}
.options-box {
    min-height: 52px;
    margin-bottom: 2em;
    /* padding: 20px 20px 0; */
    border: 1px solid #bbb;
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    display: inline-block;
    width: 100%;
}
.options-box h3 {
    margin: 0;
    font-size: 1.2em !important;
    font-weight: 600 !important;
}
.options-box label {
    float: left;
    width: 75%;
}
input[type=radio], input[type=checkbox] {}
.onoffswitch {
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+ .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked+ .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
.options-checkbox {
    overflow: hidden;
    border-radius: 20px;
    display: table;
}
input[type=radio], .options-checkbox input[type=checkbox] {
    margin: 0px;
    color: #f8f8f8;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
    padding: 20px 50px 20px !important;
    z-index: 99;
    background-color: red;
    position: relative;
    border: 0px;
}
.options-checkbox input[type=checkbox]:checked:before {
    margin: 0px;
    color: #f8f8f8;
    font-size: 14px;
    line-height: 1.8;
    text-align: right;
    padding: 6px 25px 9px 60px;
    z-index: 99;
    background-color: rgb(74, 202, 4);
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    left: 0;
    top: 0;
    content: "ON";
}
.options-checkbox input[type=checkbox]:after {
    content: "OFF";
    color: #f8f8f8;
    position: absolute;
    padding: 8px 12px;
    left: 0;
    top: 0;
}
.checkbox-area {
    position: relative;
}
@-webkit-keyframes slide {
    100% {
        left: 0;
    }
}
@keyframes slide {
    100% {
        left: 0;
    }
}
0;

}

}
0;

}

}
